// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$light: #ffffff;
$dark: #1b0b00;

$primary: #82828d;
$primary-hover: #5d5d68;

$secondary: #e15400;
$secondary-hover: #e67200;

$footer-text: #82828d;
$footer-logo: #82828d;
$footer-hover: #5d5d68;

$x-btn: $secondary;
$x-btn-hover: $secondary-hover;
$x-btn-text: $body-bg;

$form-error: #ea0027;
$error: #82828d;