
.footer {
  min-height: 100px;
  text-align: center;
  font-size: 14px;
  color: $footer-text;
  padding: 10px;
}

.logo {
}

.logo svg {
  fill: currentColor;
}

.footer a {
  color: $footer-logo;
  text-decoration: none;
}

.footer a:hover {
  color: $footer-hover;
}