
.header .wrapper {
  color: $primary;
  display: flex;
}

.header .wrapper .nav {
  display: flex;
  justify-content: center;
  height: 100%;
  user-select: none;
}

.header .wrapper .nav .link {
  margin: auto 10px auto 10px;
}

.header a {
  color: $primary;
  text-decoration: none;
}

.header a:hover {
  color: $primary-hover;
}

.header .wrapper .nav .active {
  color: $dark;
  padding-bottom: 5px;
  border-bottom: 1px solid $dark;
}