// Variables
@import 'light_variables';

// Default Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Partials
@import 'footer';
@import 'header';

// Main
* {
  font-family: $font-family-sans-serif;
  box-sizing: border-box;
  letter-spacing: .05rem;
}

html,
body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  background-color: $body-bg;
}

a {
  color: $secondary;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: $secondary-hover;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

[class*="col-"] {
  float: left;
  padding: 5px;
  width: 100%;
}

.h {
  display: none;
}

.ht {
  display: none;
}

.m {
  display: block;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.header {
  flex: 0 1 auto;
  min-height: 48px;
  position: fixed;
  width: 100%;
  background: $body-bg;
}

.content {
  flex: 1 1 auto;
  display: flex;
  margin-top: 48px;
}

.center-content-vertical {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.footer {
  flex: 0 1 auto;
}

.flex {
  display: flex;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-content {
  flex: 0 1 auto;
}

.dashboard {
  width: 200px;
  padding: 25px;
}

.x-btn {
  user-select: none;
  width: 150px;
  min-width: 150px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  text-align: center;
  color: $light;
  min-height: 33px;
  background: $secondary;
  font-size: 14px;
  font-weight: 600;
  line-height: 35px;
  border: none;
  height: 35px;
}

.x-btn:hover {
  background: $secondary-hover;
}

.x-btn-alt {
  user-select: none;
  width: 150px;
  min-width: 150px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  text-align: center;
  color: $secondary;
  min-height: 33px;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 35px;
  border: 1px solid $secondary;
  height: 35px;
}

.x-btn-alt:hover {
  color: $secondary-hover;
  border: 1px solid $secondary-hover;
}

.loading {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.loading:after {
  content: "\00d7";
  display: inline-block;
  animation: spin 1s linear infinite;
  pointer-events: none;
}

.x-form {
  max-width: 300px;
  min-width: 200px;
}

.x-form .input-row {
  margin-bottom: 25px;
}

.x-form input {
  font-size: 14px;
  outline: 0;
  width: 100%;
  transition: all .2s ease-in-out;
  height: 48px;
  padding: 12px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  background-color: transparent;
}

.x-form .error {
  box-shadow: 0 0 0 0.1rem $form-error;
}

.error-message {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  opacity: 1;
  color: $form-error;
  margin-top: 4px;
}

.separator {
  margin-top: 20px;
  border-bottom: 1px solid $dark;
}

.nav-bars {
  cursor: pointer;
}

.nav-bars:hover {
  color: $primary-hover;
}

.xbm-menu {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: $body-bg;
  overflow-x: hidden;
  padding-top: 48px;
  transition: 0.2s;
  max-width: 80vw;
}

.xbm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  display: block;
}

.xbm-item-list {
  color: $footer-text;
  font-size: 18px;
}

.xbm-item-list > * {
  display: flex;
  text-decoration: none;
  padding: 10px 15%;
}

.xbm-item-list > * > a {
  font-weight: 700;
  display: block;
  width: 100%;
}

.xbm-item-list .active {
  background: $secondary;
}

.xbm-item-list .active a {
  color: #ffffff;
}

.xbm-logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.color-primary {
  color: $primary;
}

.color-footer-text {
  color: $footer-text;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
}

.x-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.x-modal .card {
  background: $body-bg;
  padding: 15px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.oval {
  border-radius: 50%;
  padding: 13px;
}

.new-post-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: $secondary;
  box-shadow: 1px 1px 2px $primary-hover;
  color: #ffffff;
  width: 50px;
  height: 50px;
  font-size: 23px;
}

.post-cell {
  display: flex;
  margin: 25px 0;
}

.post-cell .score {
  font-size: 16px;
  color: $primary;
  font-weight: 500;
  min-width: 60px;
  text-align: center;
}

.post-cell .title a {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.post-cell .info {
  font-size: 14px;
  color: $footer-text;
}

.alert-href {
  color: $red;
  cursor: pointer;
}

.upvoted {
  color: $secondary;
}

.loader {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  animation: loader 1.2s infinite;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  color: $primary;
}

@keyframes loader {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 600px) {
  .header {
    flex: 0 1 auto;
    min-height: 48px;
    position: relative;
    width: 100%;
  }
  .content {
    flex: 1 1 auto;
    display: flex;
    margin-top: 0px;
    background: transparent;
  }
  .h {
    display: block;
  }
  .m {
    display: none;
  }
  .xbm-overlay {
    background: transparent;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .ht {
    display: block;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}