@import url(https://fonts.googleapis.com/css?family=Roboto);.footer {
  min-height: 100px;
  text-align: center;
  font-size: 14px;
  color: #82828d;
  padding: 10px;
}

.logo svg {
  fill: currentColor;
}

.footer a {
  color: #82828d;
  text-decoration: none;
}

.footer a:hover {
  color: #5d5d68;
}

.header .wrapper {
  color: #82828d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .wrapper .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .wrapper .nav .link {
  margin: auto 10px auto 10px;
}

.header a {
  color: #82828d;
  text-decoration: none;
}

.header a:hover {
  color: #5d5d68;
}

.header .wrapper .nav .active {
  color: #1b0b00;
  padding-bottom: 5px;
  border-bottom: 1px solid #1b0b00;
}

* {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: .05rem;
}

html,
body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  background-color: #ffffff;
}

a {
  color: #e15400;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #e67200;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

[class*="col-"] {
  float: left;
  padding: 5px;
  width: 100%;
}

.h {
  display: none;
}

.ht {
  display: none;
}

.m {
  display: block;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  min-height: 48px;
  position: fixed;
  width: 100%;
  background: #ffffff;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}

.center-content-vertical {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.dashboard {
  width: 200px;
  padding: 25px;
}

.x-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 150px;
  min-width: 150px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  min-height: 33px;
  background: #e15400;
  font-size: 14px;
  font-weight: 600;
  line-height: 35px;
  border: none;
  height: 35px;
}

.x-btn:hover {
  background: #e67200;
}

.x-btn-alt {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 150px;
  min-width: 150px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  text-align: center;
  color: #e15400;
  min-height: 33px;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 35px;
  border: 1px solid #e15400;
  height: 35px;
}

.x-btn-alt:hover {
  color: #e67200;
  border: 1px solid #e67200;
}

.loading {
  -webkit-box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.loading:after {
  content: "\D7";
  display: inline-block;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  pointer-events: none;
}

.x-form {
  max-width: 300px;
  min-width: 200px;
}

.x-form .input-row {
  margin-bottom: 25px;
}

.x-form input {
  font-size: 14px;
  outline: 0;
  width: 100%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  height: 48px;
  padding: 12px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  background-color: transparent;
}

.x-form .error {
  -webkit-box-shadow: 0 0 0 0.1rem #ea0027;
          box-shadow: 0 0 0 0.1rem #ea0027;
}

.error-message {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  opacity: 1;
  color: #ea0027;
  margin-top: 4px;
}

.separator {
  margin-top: 20px;
  border-bottom: 1px solid #1b0b00;
}

.nav-bars {
  cursor: pointer;
}

.nav-bars:hover {
  color: #5d5d68;
}

.xbm-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 48px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  max-width: 80vw;
}

.xbm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  display: block;
}

.xbm-item-list {
  color: #82828d;
  font-size: 18px;
}

.xbm-item-list > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 10px 15%;
}

.xbm-item-list > * > a {
  font-weight: 700;
  display: block;
  width: 100%;
}

.xbm-item-list .active {
  background: #e15400;
}

.xbm-item-list .active a {
  color: #ffffff;
}

.xbm-logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.color-primary {
  color: #82828d;
}

.color-footer-text {
  color: #82828d;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
}

.x-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.x-modal .card {
  background: #ffffff;
  padding: 15px;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.oval {
  border-radius: 50%;
  padding: 13px;
}

.new-post-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #e15400;
  -webkit-box-shadow: 1px 1px 2px #5d5d68;
          box-shadow: 1px 1px 2px #5d5d68;
  color: #ffffff;
  width: 50px;
  height: 50px;
  font-size: 23px;
}

.post-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
}

.post-cell .score {
  font-size: 16px;
  color: #82828d;
  font-weight: 500;
  min-width: 60px;
  text-align: center;
}

.post-cell .title a {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.post-cell .info {
  font-size: 14px;
  color: #82828d;
}

.alert-href {
  color: #e3342f;
  cursor: pointer;
}

.upvoted {
  color: #e15400;
}

.loader {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  -webkit-animation: loader 1.2s infinite;
          animation: loader 1.2s infinite;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  color: #82828d;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (min-width: 600px) {
  .header {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    min-height: 48px;
    position: relative;
    width: 100%;
  }

  .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    background: transparent;
  }

  .h {
    display: block;
  }

  .m {
    display: none;
  }

  .xbm-overlay {
    background: transparent;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .ht {
    display: block;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

