<template>
    <div style="padding: 25px;">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                community: '',
            };
        },
        watch: {
            $route(to, from) {
                this.community = this.$route.params.community;
                document.title = 'x | ' + this.community;
            }
        },
        created() {
            this.community = this.$route.params.community;
            document.title = 'x | ' + this.community;
        }
    }
</script>