<template>
    <div>
        <div v-if="loading">
            <div class="loader">
                <x-logo-min height="64"></x-logo-min>
            </div>
        </div>
        <div v-else v-for="post in posts">
            <post-cell :post="post"></post-cell>
        </div>
    </div>
</template>

<script>
    import PostCell from "../components/PostCell";

    export default {
        components: {
            PostCell,
        },
        data() {
            return {
                loading: false,
                community: '',
                community_id: null,
                posts: [],
            };
        },
        watch: {
            $route(to, from) {
                this.community = this.$route.params.community;
                this.getCommunityInfo();
                document.title = 'x | ' + this.community;
            }
        },
        created() {
            this.community = this.$route.params.community;
            document.title = 'x | ' + this.community;
        },
        mounted() {
            this.getCommunityInfo();
        },
        methods: {
            getCommunityInfo() {
                let self = this;
                self.loading = true;

                this.$store.dispatch('COMMUNITY_REQUEST', this.$route.params.community)
                    .then((resp) => {
                        self.community_id = resp.data.id;
                        self.parse();
                    })
                    .catch((err) => {
                        console.log(err);
                        self.loading = false;
                    });
            },
            parse() {
                let self = this;
                self.loading = true;

                this.$store.dispatch('POSTS_REQUEST', this.community_id)
                    .then((resp) => {
                        self.posts = resp;
                        self.loading = false;
                    })
                    .catch((err) => {
                        this.errors.login.push('Failed loading the post');
                        self.loading = false;
                    });
            }
        },
    }
</script>