<template>
    <div>
        <div v-if="loading">
            <div class="loader">
                <x-logo-min height="64"></x-logo-min>
            </div>
        </div>
        <div v-else-if="post.user_id !== this.$store.getters.getProfile.id">
            You do not belong here :)
        </div>
        <div v-else>
            <div class="x-form" style="margin-bottom: 10px;">
                <div class="input-row">
                    <input type="text" v-model="post.title" :class="{ error: errors.title.length }" required
                           placeholder="title"
                           autofocus/>
                    <ul class="error-message">
                        <li v-for="error in errors.title">{{ error }}</li>
                    </ul>
                </div>
            </div>

            <ckeditor :editor="editor" v-model="post.content" :config="editorConfig"></ckeditor>

            <div class="input-row">
                <x-btn @click="submit" value="Edit" :loading="loading" style="margin-top: 10px;"/>
                <ul class="error-message">
                    <li v-for="error in errors.sub">{{ error }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        data() {
            return {
                loading: false,
                community: '',
                community_id: null,
                editor: ClassicEditor,
                title: '',
                editorData: '',
                editorConfig: {
                    height: 500,
                },
                errors: {
                    title: [],
                    editorData: [],
                    sub: [],
                },
                post: {},
            };
        },
        created() {
            this.getCommunityInfo();
            this.community = this.$route.params.community;
            document.title = 'edit post | ' + this.community;
        },
        methods: {
            getCommunityInfo() {
                let self = this;
                self.loading = true;

                this.$store.dispatch('COMMUNITY_REQUEST', this.$route.params.community)
                    .then((resp) => {
                        self.community_id = resp.data.id;
                        self.parse();
                    })
                    .catch((err) => {
                        self.loading = false;
                    });
            },
            parse() {
                let self = this;
                self.loading = true;

                let {community, post} = {community: this.community_id, post: this.$route.params.post};

                this.$store.dispatch('POST_REQUEST', {community, post})
                    .then((resp) => {
                        self.post = resp;
                        self.loading = false;
                    })
                    .catch((err) => {
                        this.errors.login.push('Failed loading the post');
                        self.loading = false;
                    });
            },
            submit: function () {
                let input = {
                    title: this.post.title,
                    editorData: this.post.content,
                };
                if (!this.validInput(input)) {
                    return false;
                }

                const {community, post, title, editorData} = {
                    community: this.community_id,
                    post: this.post.id,
                    title: this.post.title,
                    editorData: this.post.content,
                };

                let self = this;
                self.loading = true;

                this.$store.dispatch('EDIT_POST', {community, post, title, editorData})
                    .then((resp) => {
                        self.$router.push({name: 'post', params: {post: resp.id}});
                    })
                    .catch((err) => {
                        console.log(err);
                        this.errors.sub.push('Unable to edit');
                        self.loading = false;
                    });
            },
            validInput: function (input) {
                this.errors.title = [];
                this.errors.editorData = [];

                if (!input.title) {
                    this.errors.title.push('Title required');
                    return false;
                }

                return !this.errorsExist;
            },
        },
    }
</script>

<style>
    .ck-editor__editable {
        height: 500px !important;
        overflow: scroll;
    }
</style>