<template>
    <div>
        <h1 class="col-12">xowder</h1>
    </div>
</template>

<script>

    export default {
        data() {
            return {}
        },
        methods: {
        }
    }
</script>