<template>
    <div class="row center-content-vertical" style="height: 100%;">
        <div class="col-12" style="padding: 50px;">
            <h3>Sign in</h3>
            <div class="x-form">
                <div class="input-row">
                    <input type="email" v-model="email" :class="{ error: errors.email.length }" required
                           placeholder="email" autofocus/>
                    <ul class="error-message">
                        <li v-for="error in errors.email">{{ error }}</li>
                    </ul>
                </div>
                <div class="input-row">
                    <input type="password" v-model="password" :class="{ error: errors.password.length }" required
                           placeholder="password"/>
                    <ul class="error-message">
                        <li v-for="error in errors.password">{{ error }}</li>
                    </ul>
                </div>
                <div class="input-row">
                    <x-btn @click="submit" value="Sign in" :loading="loading"/>
                    <ul class="error-message">
                        <li v-for="error in errors.login">{{ error }}</li>
                    </ul>
                </div>
                <div>
                    or
                    <router-link :to="{ name: 'register' }">sign up</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                loading: false,
                errors: {
                    email: [],
                    password: [],
                    login: [],
                },
                email: '',
                password: '',
            }
        },
        mounted() {
            if (!this.disableEsc) {
                document.addEventListener('keyup', this.submitOnEnter);
            }
        },
        destroyed: function () {
            document.removeEventListener('keyup', this.submitOnEnter);
        },
        computed: {
            errorsExist() {
                return this.errors.email.length || this.errors.password.length || this.errors.login.length;
            }
        },
        methods: {
            submit: function () {
                let input = {
                    email: this.email,
                    password: this.password,
                };

                if (!this.validInput(input)) {
                    return false;
                }

                const {email, password} = {email: this.email, password: this.password};

                let self = this;
                self.loading = true;

                this.$store.dispatch('AUTH_REQUEST', {email, password})
                    .then(() => {
                        this.$router.push('/')
                    })
                    .catch(() => {
                        this.errors.login.push('Invalid username or password');
                        self.loading = false;
                    });
            },
            submitOnEnter: function (e) {
                e = e || window.event;
                if (e.key === 'Enter' || e.keyCode === 13) {
                    this.submit();
                }
            },
            validInput: function (input) {
                this.errors.email = [];
                this.errors.password = [];
                this.errors.login = [];

                if (!input.email) {
                    this.errors.email.push('Email required');
                    return false;
                } else {
                    if (!this.validEmail(input.email)) {
                        this.errors.email.push('Valid email required');
                        return false;
                    }
                }
                if (!input.password) {
                    this.errors.password.push('Password required');
                    return false;
                } else {
                    if (!this.validPassword(input.password)) {
                        this.errors.password.push('Invalid password (min 6 chars required)');
                        return false;
                    }
                }

                return !this.errorsExist;
            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            validPassword: function (password) {
                var re = /^(?=.*[a-zA-Z])[\w!@#$%^&*]{6,}$/;
                return re.test(password);
            },
        },
    }
</script>