<template>
    <div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        },
        mounted() {
            this.logout();
        },
        methods: {
            logout: function () {
                if (this.$store.getters.isAuthenticated) {
                    this.$store.dispatch('AUTH_LOGOUT');
                }
                this.$router.push('/')
            },
        },
    }
</script>