<template>
    <div>
        <div class="x-form" style="margin-bottom: 10px;">
            <div class="input-row">
                <input type="text" v-model="title" :class="{ error: errors.title.length }" required placeholder="title"
                       autofocus/>
                <ul class="error-message">
                    <li v-for="error in errors.title">{{ error }}</li>
                </ul>
            </div>
        </div>

        <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>

        <div class="input-row">
            <x-btn @click="submit" value="Post" :loading="loading" style="margin-top: 10px;"/>
            <ul class="error-message">
                <li v-for="error in errors.sub">{{ error }}</li>
            </ul>
        </div>
    </div>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        data() {
            return {
                loading: false,
                community: '',
                community_id: null,
                editor: ClassicEditor,
                title: '',
                editorData: '',
                editorConfig: {
                    height: 500,
                },
                errors: {
                    title: [],
                    editorData: [],
                    sub: [],
                },
            };
        },
        created() {
            this.getCommunityInfo();
            this.community = this.$route.params.community;
            document.title = 'new post | ' + this.community;
        },
        methods: {
            getCommunityInfo() {
                let self = this;
                self.loading = true;

                this.$store.dispatch('COMMUNITY_REQUEST', this.$route.params.community)
                    .then((resp) => {
                        self.community_id = resp.data.id;
                        self.parse();
                    })
                    .catch((err) => {
                        self.loading = false;
                    });
            },
            submit: function () {
                let input = {
                    title: this.title,
                    editorData: this.editorData,
                };
                if (!this.validInput(input)) {
                    return false;
                }

                const {community, title, editorData} = {
                    community: this.community_id,
                    title: this.title,
                    editorData: this.editorData
                };

                let self = this;
                self.loading = true;

                this.$store.dispatch('NEW_POST', {community, title, editorData})
                    .then((resp) => {
                        self.$router.push({name: 'post', params: {post: resp.data.id}});
                    })
                    .catch((err) => {
                        this.errors.sub.push('Unable to post');
                        self.loading = false;
                    });
            },
            validInput: function (input) {
                this.errors.title = [];
                this.errors.editorData = [];

                if (!input.title) {
                    this.errors.title.push('Title required');
                    return false;
                }

                return !this.errorsExist;
            },
        },
    }
</script>

<style>
    .ck-editor__editable {
        height: 500px !important;
        overflow: scroll;
    }
</style>