<template>
    <div>
        <div v-if="loading">
            <div class="loader">
                <x-logo-min height="64"></x-logo-min>
            </div>
        </div>
        <div v-else>
            <div v-if="post.user_id === this.$store.getters.getProfile.id" class="flex">
                <div class="flex-fill">
                    <router-link
                            :to="{name: 'edit-post', params: {post: post.id, community: this.$route.params.community}}">
                        edit
                    </router-link>
                </div>
                <div class="alert-href" @click="deletePost">delete</div>
            </div>
            <h2>{{ post.title }}</h2>
            <div v-html="post.content">

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                loading: false,
                community_id: null,
                post: {},
            };
        },
        watch: {
            $route(to, from) {
                document.title = 'x | ' + this.$route.params.community;
            }
        },
        created() {
            document.title = 'x | ' + this.$route.params.community;
        },
        mounted() {
            this.getCommunityInfo();
        },
        methods: {
            getCommunityInfo() {
                let self = this;
                self.loading = true;

                this.$store.dispatch('COMMUNITY_REQUEST', this.$route.params.community)
                    .then((resp) => {
                        self.community_id = resp.data.id;
                        self.parse();
                    })
                    .catch((err) => {
                        this.errors.login.push('Failed loading community information');
                        self.loading = false;
                    });
            },
            parse() {
                let self = this;
                self.loading = true;

                let {community, post} = {community: this.community_id, post: this.$route.params.post};

                this.$store.dispatch('POST_REQUEST', {community, post})
                    .then((resp) => {
                        self.post = resp;
                        self.loading = false;
                    })
                    .catch((err) => {
                        this.errors.login.push('Failed loading the post');
                        self.loading = false;
                    });
            },
            deletePost() {
                let confirmation = confirm("Are you sure you want to remove this post?");

                if (confirmation === true) {
                    let self = this;
                    self.loading = true;

                    let {community, post} = {community: this.community_id, post: this.$route.params.post};

                    this.$store.dispatch('DELETE_POST', {community, post})
                        .then((resp) => {
                            self.$router.push({name: 'community'});
                            self.loading = false;
                        })
                        .catch((err) => {
                            self.loading = false;
                        });
                }
            },
        },
    }
</script>