<template>
    <div class="row center-content-vertical" style="height: 100%;">
        <div class="col-12" style="padding: 50px;">
            <h3>Sign up</h3>
            <div class="x-form">
                <div class="input-row">
                    <input type="text" v-model="name" :class="{ error: errors.name.length }" required
                           placeholder="name"/>
                    <ul class="error-message">
                        <li v-for="error in errors.name">{{ error }}</li>
                    </ul>
                </div>
                <div class="input-row">
                    <input type="email" v-model="email" :class="{ error: errors.email.length }" required
                           placeholder="email"/>
                    <ul class="error-message">
                        <li v-for="error in errors.email">{{ error }}</li>
                    </ul>
                </div>
                <div class="input-row">
                    <input type="password" v-model="password" :class="{ error: errors.password.length }" required
                           placeholder="password"/>
                    <ul class="error-message">
                        <li v-for="error in errors.password">{{ error }}</li>
                    </ul>
                </div>
                <div class="input-row">
                    <input type="password" v-model="confirmPassword" :class="{ error: errors.confirmPassword.length }"
                           required
                           placeholder="confirm password"/>
                    <ul class="error-message">
                        <li v-for="error in errors.confirmPassword">{{ error }}</li>
                    </ul>
                </div>
                <div class="input-row">
                    <x-btn @click="submit" value="Sign up" :loading="loading"/>
                    <ul class="error-message">
                        <li v-for="error in errors.register">{{ error }}</li>
                    </ul>
                </div>
                <div>
                    <div>
                        or
                        <router-link :to="{ name: 'login' }">sign in</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        data() {
            return {
                errors: {
                    name: [],
                    email: [],
                    password: [],
                    confirmPassword: [],
                    register: [],
                },
                loading: false,
                name: '',
                email: '',
                password: '',
                confirmPassword: '',
            }
        },
        mounted() {
            if (!this.disableEsc) {
                document.addEventListener('keyup', this.submitOnEnter);
            }
        },
        destroyed: function () {
            document.removeEventListener('keyup', this.submitOnEnter);
        },
        computed: {
            errorsExist() {
                return this.errors.name.length ||
                    this.errors.email.length ||
                    this.errors.password.length ||
                    this.errors.confirmPassword.length ||
                    this.errors.register.length;
            }
        },
        methods: {
            submit: function () {
                let input = {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    confirmPassword: this.confirmPassword,
                };

                if (!this.validInput(input)) {
                    return false;
                }

                let self = this;
                self.loading = true;

                const {name, email, password} = {name: this.name, email: this.email, password: this.password};
                this.$store.dispatch('REG_REQUEST', {name, email, password})
                    .then(() => {
                        this.$router.push('/')
                    })
                    .catch((err) => {
                        this.errors.register.push('Unable to register, try a different email');
                        self.loading = false;
                    });
            },
            submitOnEnter: function (e) {
                e = e || window.event;
                if (e.key === 'Enter' || e.keyCode === 13) {
                    this.submit();
                }
            },
            validInput: function (input) {
                this.errors.name = [];
                this.errors.email = [];
                this.errors.password = [];
                this.errors.register = [];

                if (!input.name) {
                    this.errors.name.push('Name required');
                    return false;
                }
                if (!input.email) {
                    this.errors.email.push('Email required');
                    return false;
                } else {
                    if (!this.validEmail(input.email)) {
                        this.errors.email.push('Valid email required');
                        return false;
                    }
                }
                if (!input.password) {
                    this.errors.password.push('Password required');
                    return false;
                } else {
                    if (!this.validPassword(input.password)) {
                        this.errors.password.push('Invalid password (min 6 chars required)');
                        return false;
                    } else {
                        if (input.password != this.confirmPassword) {
                            this.errors.confirmPassword.push('Passwords need to match');
                            return false;
                        }
                    }
                }

                return !this.errorsExist;
            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            validPassword: function (password) {
                var re = /^(?=.*[a-zA-Z])[\w!@#$%^&*]{6,}$/;
                return re.test(password);
            },
        },
    }
</script>