<template>
    <page-template>
        <template slot="header">
            <x-header></x-header>
        </template>
        <div class="flex flex-fill">
            <div class="flex-content">
                <div class="h dashboard">
                    <x-dashboard v-if="$store.getters.isUserInfoLoaded"></x-dashboard>
                </div>
            </div>
            <div class="flex-fill">
                <router-view></router-view>
            </div>
            <div class="flex-content">
                <div class="ht dashboard">
                    <div v-if="!$store.getters.isAuthenticated">
                        <router-link :to="{ name: 'register' }">sign up</router-link>
                        <router-link :to="{ name: 'login' }">sign in</router-link>
                    </div>
                    <div v-else>
                        {{ $store.getters.getProfile.name }}
                        <router-link :to="{ name: 'logout' }">sign out</router-link>
                    </div>
                </div>
            </div>
        </div>
        <template slot="footer">
            <x-footer></x-footer>
        </template>
    </page-template>
</template>

<script>
    import axios from 'axios'

    export default {
        created: function () {
            axios.interceptors.response.use(undefined, function (err) {
                return new Promise(function (resolve, reject) {
                    if (err.response.status === 401 && err.config) {
                        this.$store.dispatch('AUTH_LOGOUT')
                            .catch((err) => {
                                console.log(err);
                            });
                    }
                    throw err;
                });
            });

            if (this.$store.getters.isAuthenticated) {
                this.$store.dispatch('USER_REQUEST')
                    .catch((err) => {
                        console.log(err);
                    });
            }
        },
        watch: {
            $route(to, from) {
                document.title = 'x | ' + to.name;
            }
        },
    }
</script>