<template>
    <div style="max-width: 100vw;">
        <h3>create a new community</h3>
        <div class="x-form">
            <div class="input-row">
                <input type="text" v-model="name" :class="{ error: errors.name.length }" required
                       placeholder="name"/>
                <ul class="error-message">
                    <li v-for="error in errors.name">{{ error }}</li>
                </ul>
            </div>
            <div class="input-row">
                <x-btn @click="submit" value="Create" :loading="loading" v-on:keydown.enter="submit" tabindex="1"/>
                <ul class="error-message">
                    <li v-for="error in errors.submit">{{ error }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                loading: false,
                errors: {
                    name: [],
                    submit: [],
                },
                name: '',
            }
        },
        computed: {
            errorsExist() {
                return this.errors.name.length;
            }
        },
        methods: {
            submit: function () {
                this.loading = true;
                console.log(this.loading);
                let input = {
                    name: this.name,
                };

                if (!this.validInput(input)) {
                    return false;
                }

                const {name} = {name: this.name};

                this.$store.dispatch('NEW_COMMUNITY', {name})
                    .then((response) => {
                        this.$router.push({name: 'community', params: {community: response.data.name}});
                        this.$router.go(this.$router.currentRoute);
                    })
                    .catch((err) => {
                        console.log(err);
                        this.errors.submit.push('Failed to create a community');
                        this.loading = false;
                    });
            },
            validInput: function (input) {
                this.errors.name = [];

                if (!input.name) {
                    this.errors.name.push('Name required');
                    return false;
                } else {
                    if (!this.validName(input.name)) {
                        this.errors.name.push('Invalid name (min 3 chars required)');
                        return false;
                    }
                }

                return !this.errorsExist;
            },
            validName: function (name) {
                let re = /^[a-zA-Z0-9_]{3,}$/;
                return re.test(name);
            },
        },
    }

</script>