<template>
    <div>
        <new-post-button v-if="communityRoute"></new-post-button>
        <subscription-button v-if="communityRoute"></subscription-button>

        <div style="margin-bottom: 15px;">
            <x-modal>

                <template slot="activator">
                    <x-btn value="+ new community" :alternative="true"/>
                </template>

                <community-form></community-form>

            </x-modal>
        </div>
        <div v-if="subscriptions.length > 0">
            <div class="color-footer-text">your communities</div>
            <div v-for="subscription in subscriptions">
                <router-link :to="{name: 'community',params: {community: subscription.name},}">{{ subscription.name }}
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                currentRoute: null,
                communityRoute: false,
            }
        },
        mounted() {
            this.determineRoute(this.$router.currentRoute);
        },
        watch: {
            $route(to, from) {
                this.determineRoute(to);
            },
        },
        methods: {
            determineRoute: function (route) {
                this.isCommunity(route);
                if (this.communityRoute) {
                    this.currentRoute = route.params.community;
                } else {
                    this.currentRoute = route.name;
                }
            },
            isCommunity: function (route) {
                if (route.name === 'community') {
                    this.communityRoute = true;
                } else {
                    this.communityRoute = false;
                }
            }
        },
        computed: {
            subscriptions() {
                return this.$store.getters.getSubscriptions;
            },
        }
    }
</script>