<template>
    <div>
        <div class="col-4">
            @laurynas_g
        </div>
        <div class="logo col-4">
            <router-link :to="{ name: 'front' }">
                <x-logo height="30"></x-logo>
            </router-link>
        </div>
        <div class="col-4">
            <a href="https://gitlab.com/laurynas_g/saitynas-xowder" target="_blank">GitLab repository</a>
        </div>
    </div>
</template>