<template>
    <div class="wrapper">
        <div class="flex-content">
            <router-link :to="{ name: 'front' }">
                <div style="padding: 10px; height: 48px;">
                    <x-logo-min height="25"></x-logo-min>
                </div>
            </router-link>
        </div>
        <div class="h flex-fill">
            <div class="nav">
                <div class="link">
                    <router-link :class="linkStyle('front')" :to="{ name: 'front' }">front</router-link>
                </div>
                <div class="link" v-for="route in routes">
                    <router-link :class="linkStyle(route.params.community)" :to="route">{{ route.params.community }}
                    </router-link>
                </div>
            </div>
        </div>
        <div class="m flex-fill">
            <div style="display: flex; justify-content: flex-end;">
                <div style="padding: 10px;">
                    <side-bar></side-bar>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                currentRoute: null,
            }
        },
        mounted() {
            this.determineRoute(this.$router.currentRoute);
        },
        watch: {
            $route(to, from) {
                this.determineRoute(to);
            },
        },
        methods: {
            determineRoute: function (route) {
                if (route.name !== 'front') {
                    this.currentRoute = route.params.community;
                } else {
                    this.currentRoute = route.name;
                }
            },
            linkStyle: function (route_name) {
                let _default = "link";
                if (this.currentRoute === route_name) {
                    _default += ' active';
                }
                return _default;
            },
        },
        computed: {
            routes() {
                return this.$store.getters.getDefaultCommunities;
            },
        },
    }
</script>