<template>
    <svg :height="height" version="1.1" viewBox="0 0 37.53 28.915" :style="style">
        <g transform="translate(63.257 -271.13)">
            <path d="m-48.799 271.13-5.8425 5.8425 8.6145 8.6145v5.2e-4l5.8425 5.842 8.615 8.615 5.8425-5.8425-8.615-8.615 8.615-8.6145-5.8425-5.8425-8.615 8.6145zm-8.615 8.615-0.29766 0.29766-5.5454 5.5444 5.8425 5.8425 2.773-2.7719 3.0701-3.0701-3.0701-3.0701zm8.615 8.6145-5.8425 5.8425 5.8425 5.8425 5.8425-5.8425z"
                  stroke-width=".15745"/>
        </g>
    </svg>
</template>

<script>
    export default {
        props: {
            height: String,
        },
        computed: {
            style: function () {
                return {
                    fill: 'currentColor',
                    width: this.height,
                }
            }
        }
    }
</script>