<template>
    <svg :height="height" version="1.1" viewBox="0 0 78.147 72.397" style="fill: currentColor;">
        <g transform="translate(147.96 -208.38)">
            <path d="m-121.54 208.38-4.607 7.9794h-5.5299l-14.448 25.026 2.7647 4.7883-4.6075 7.9804 12.606 21.834h9.2154l2.7647 4.7889h28.974l2.7652-4.7889h9.2155l12.606-21.834-4.6075-7.9799 2.7652-4.7889-14.449-25.025h-5.5299l-4.6075-7.9804zm4.8075 23.338 8.6145 8.615 8.615-8.615 5.8425 5.843-8.6145 8.6145 8.6145 8.615-5.8425 5.842-8.6145-8.6145-5.8431-5.8425 5.2e-4 -5.1e-4 -8.615-8.6145zm-8.615 8.615 5.8425 5.8425-3.0701 3.0701-2.7724 2.7719-3.0701-3.0701-2.773-2.7724 2.773-2.7719 2.7724-2.7719zm8.615 8.615 5.8425 5.8425-3.0706 3.0701-2.7719 2.7719-5.8425-5.8425 2.7724-2.7719z"></path>
        </g>
    </svg>
</template>

<script>
    export default {
        props: {
            height: String,
        }
    }
</script>