<template>
    <div style="margin-bottom: 10px;">
        <x-btn value="+ new post" :alternative="false" @click="redirect"/>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        },
        methods: {
            redirect: function () {
                this.$router.push({name: 'new-post'});
            },
        },
    }
</script>