<template>
    <div class="post-cell">
        <div class="flex-fill">
            <div class="flex-fill title">
                <router-link :to="postLink()">{{ post.title }}</router-link>
            </div>
            <div class="flex info">
                <div class="flex-fill">{{ post.author }}</div>
                <div>{{ post.comments }} comments</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        },
        props: {
            post: {
                required: true,
                type: Object,
            },
        },
        methods: {
            postLink: function () {
                return {
                    name: 'post',
                    params: {
                        post: this.post.id,
                        community: this.$router.currentRoute.params.community
                    }
                }
            },
            isUpvoted: function () {
                return this.post.upvoted == 'true';
            },
        }
    }
</script>