<template>
    <div style="margin: auto;">
        <x-burger-menu>
            <div v-if="$store.getters.isUserInfoLoaded" class="flex-content" style="padding: 10px 15%;;">
                <subscription-button v-if="communityRoute"></subscription-button>
                <x-modal>

                    <template slot="activator">
                        <x-btn value="+ new community" :alternative="true"/>
                    </template>

                    <community-form></community-form>

                </x-modal>
            </div>
            <nav class="xbm-item-list flex-content">
                <span v-for="route in routes" :class="linkStyle(route.params.community)">
                    <router-link :to="route" class="link">{{ route.params.community }}
                    </router-link>
                </span>

                <span v-for="route in subscriptionsWithoutDefaults" :class="linkStyle(route.name)">
                    <router-link :to="subscriptionToRoute(route)">{{ route.name }}
                    </router-link>
                </span>
            </nav>

            <div class="flex-content" style="padding: 25px;">
                <div v-if="!$store.getters.isAuthenticated">
                    <router-link :to="{ name: 'register' }">sign up</router-link>
                    <router-link :to="{ name: 'login' }">sign in</router-link>
                </div>
                <div v-else>
                    {{ $store.getters.getProfile.name }}
                    <router-link :to="{ name: 'logout' }">sign out</router-link>
                </div>
            </div>

            <span class="xbm-logo">
                <router-link :to="{ name: 'front' }">
                    <x-logo-min height="25"></x-logo-min>
                </router-link>
            </span>

        </x-burger-menu>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                currentRoute: null,
                communityRoute: false,
            }
        },
        mounted() {
            this.determineRoute(this.$router.currentRoute);
        },
        watch: {
            $route(to, from) {
                this.determineRoute(to);
            },
        },
        methods: {
            determineRoute: function (route) {
                this.isCommunity(route);
                if (this.communityRoute) {
                    this.currentRoute = route.params.community;
                } else {
                    this.currentRoute = route.name;
                }
            },
            isCommunity: function (route) {
                if (route.name === 'community') {
                    this.communityRoute = true;
                } else {
                    this.communityRoute = false;
                }
            },
            linkStyle: function (route_name) {
                let _default = "link";
                if (this.currentRoute === route_name) {
                    _default += ' active';
                }
                return _default;
            },
            subscriptionToRoute: function (subscription) {
                return {
                    name: 'community',
                    params: {
                        community: subscription.name
                    },
                };
            },
        },
        computed: {
            routes() {
                return this.$store.getters.getDefaultCommunities;
            },
            subscriptions() {
                return this.$store.getters.getSubscriptions;
            },
            subscriptionsWithoutDefaults() {
                let self = this;
                return this.subscriptions.filter(function (subscription) {
                    let res = true;
                    self.$store.getters.getDefaultCommunities.forEach(function (community) {
                        if (community.params.community === subscription.name) {
                            res = false;
                        }
                    });
                    return res;
                })
            }
        },
    }
</script>