<template>
    <div style="margin-bottom: 10px;">
        <x-btn value="+ subscribe" :alternative="false" v-if="!subscribed" :loading="loading" @click="subscribe"/>
        <x-btn value="- unsubscribe" :alternative="true" v-if="subscribed" :loading="loading" @click="unsubscribe"/>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                currentRoute: null,
                subscription: null,
                loading: false,
            }
        },
        mounted() {
            this.determineRoute(this.$router.currentRoute);
        },
        watch: {
            $route(to, from) {
                this.determineRoute(to);
            },
        },
        methods: {
            determineRoute: function (route) {
                if (route.name === 'community') {
                    this.currentRoute = route.params.community;
                } else if (route.name === 'front') {
                    this.currentRoute = route.name;
                } else {
                    this.currentRoute = null;
                }
            },
            subscribe: function () {
                let self = this;
                self.loading = true;

                this.$store.dispatch('SUBSCRIBE', this.currentRoute)
                    .then((resp) => {
                        self.loading = false;
                    })
                    .catch((err) => {
                        console.log(err);
                        self.loading = false;
                    });
            },
            unsubscribe: function () {
                let self = this;
                self.loading = true;

                this.$store.dispatch('UNSUBSCRIBE', this.subscription)
                    .then((resp) => {
                        self.loading = false;
                    })
                    .catch((err) => {
                        console.log(err);
                        self.loading = false;
                    });
            },
        },
        computed: {
            subscriptions() {
                return this.$store.getters.getSubscriptions;
            },
            subscribed() {
                let self = this;
                let res = false;
                this.subscriptions.forEach(function (subscription) {
                    if (self.currentRoute === subscription.name) {
                        res = true;
                        self.subscription = subscription;
                    }
                });
                return res;
            },
        }
    }
</script>