<template>
    <div>
        <div class="xbm-overlay" v-if="isSideBarOpen"></div>
        <div id="sideNav" class="xbm-menu">
            <slot></slot>
        </div>

        <div @click="openMenu" :class="{ hidden: !burgerIcon }">
            <i class="fa fa-bars nav-bars" style="font-size: 25px;"></i>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                isSideBarOpen: false,
            };
        },
        props: {
            isOpen: {
                type: Boolean,
                required: false
            },
            right: {
                type: Boolean,
                required: false
            },
            width: {
                type: [String],
                required: false,
                default: '300'
            },
            disableEsc: {
                type: Boolean,
                required: false
            },
            onStateChange: {
                type: Function,
                required: false
            },
            burgerIcon: {
                type: Boolean,
                required: false,
                default: true
            },
        },
        methods: {
            openMenu() {
                if (this.isSideBarOpen) {
                    this.closeMenu();
                    return;
                }

                this.$emit('openMenu');
                this.isSideBarOpen = true;

                if (this.right) {
                    document.querySelector('.xbm-menu').style.left = 'auto';
                    document.querySelector('.xbm-menu').style.right = '0px';
                }
                this.$nextTick(function () {
                    document.getElementById('sideNav').style.width = this.width
                        ? this.width + 'px'
                        : '300px';
                });
            },

            closeMenu() {
                this.$emit('closeMenu');
                this.isSideBarOpen = false;
                document.getElementById('sideNav').style.width = '0px';
            },

            closeMenuOnEsc(e) {
                e = e || window.event;
                if (e.key === 'Escape' || e.keyCode === 27) {
                    this.closeMenu();
                }
            },
            documentClick(e) {
                let element = document.querySelector('.nav-bars');
                let sideBar = document.querySelector('.xbm-menu');
                let target = e.target;
                if (
                    element !== target && !element.contains(target) &&
                    (
                        (sideBar !== target && !sideBar.contains(target)) ||
                        e.target.tagName == 'A' || e.target.tagName == 'SPAN'
                    ) &&
                    this.isSideBarOpen
                ) {
                    this.closeMenu();
                }
            }
        },
        mounted() {
            if (!this.disableEsc) {
                document.addEventListener('keyup', this.closeMenuOnEsc);
            }
        },
        created: function () {
            document.addEventListener('click', this.documentClick);
        },
        destroyed: function () {
            document.removeEventListener('keyup', this.closeMenuOnEsc);
            document.removeEventListener('click', this.documentClick);
        },
        watch: {
            isOpen: {
                deep: true,
                immediate: true,
                handler(newValue, oldValue) {
                    if (!oldValue && newValue) {
                        this.openMenu()
                    }
                    if (oldValue && !newValue) {
                        this.closeMenu()
                    }
                }
            }
        }
    };
</script>

