<template>
    <div :class="{ 'x-btn': !this.alternative, 'x-btn-alt': alternative, 'loading': this.loading }"
         v-on:click="$emit('click')">
        {{ value }}
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        },
        props: {
            value: {
                required: true,
                type: String,
            },
            loading: {
                required: false,
                type: Boolean,
            },
            alternative: {
                required: false,
                type: Boolean,
                default: false,
            },
        },
        watch: {
            loading(to, from) {
                return to;
            }
        },
    }
</script>