<!--

-------------------------
      EXAMPLE USAGE
-------------------------

<x-modal>

    <template slot="activator">
        <x-btn value="+ new community" :alternative="true"/>
    </template>

    <div>TEST</div>

</x-modal>

-->


<template>
    <div v-on:keydown.esc="closeModal" tabindex="0" style="outline: none;">
        <div @click="toggleShowModal">
            <slot name="activator"></slot>
        </div>


        <transition name="fade">
            <div v-if="showModal">
                <div class="overlay" @click="toggleShowModal">
                    <div class="x-modal" @click.stop>
                        <div class="card">
                            <slot></slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showModal: false,
            }
        },
        methods: {
            toggleShowModal() {
                this.showModal = !this.showModal;
            },
            closeModal() {
                this.showModal = false;
            },
        },
    };
</script>